<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yes.project.base">

    <application
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="base_MainActivity"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity android:name=".Bactivity"/>
        <activity
            android:name=".Aactivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>